@import url('https://fonts.googleapis.com/css2?family=Yrsa:ital,wght@0,400;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #eee;
  padding: 30px;
  font-family: "Yrsa", serif;
}

.card {
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

  h1 {
    margin: 0 0 10px 0;
  }
}
